.choresText {
   color: yellow;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-style: italic;
}

.choresHeading {
   color: black;
   text-decoration: underline;
   border: 2px solid black;
}
.background{
   background-color: blue;
}